@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* (main background) */
    --Very-dark-blue: hsl(233, 47%, 7%);
    /* (card background) */
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    /* (accent) */
    --Soft-violet: hsl(277, 64%, 61%);
    /* ////////////////////// */
    /* (main heading, stats) */
    --White: hsl(0, 0%, 100%);
    /* (main paragraph) */
    --Slightly-transparent-p: hsla(0, 0%, 100%, 0.75);
    /* (stat headings) */
    --Slightly-transparent-h1: hsla(0, 0%, 100%, 0.6);
    /* /////////////////////// */
    --inter: 'Inter', sans-serif;
    --lexend: 'Lexend Deca', sans-serif;

}

body {
    Font-size: 15px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-blue);
}

main {
    background-color: var(--Dark-desaturated-blue);
    margin: 2em;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    color: var(--White);
}

.container {
    display: flex;
    flex-flow: column;
}

/* start picture section */

picture {
    height: 250px;
    width: 100%;
    position: relative;
}

picture img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

picture::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--Soft-violet);
    opacity: .5;
}

/* end picture section */
/* start content section */

.content {
    padding: 1.5em;
}

.content>* {
    margin-bottom: 1em;
}

.content h1 {
    font-family: var(--inter);
    text-align: center;
}

.content h1 span {
    color: var(--Soft-violet);
}

.content p {
    color: var(--Slightly-transparent-p);
    font-size: 15px;
    font-family: var(--inter);
    text-align: center;
}

.content .numbers div {
    font-size: 30px;
    font-family: var(--inter);
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    line-height: 35px;
}

.content .numbers span {
    font-size: 15px;
    color: var(--Slightly-transparent-h1);
    font-weight: 600;
    text-transform: uppercase;

}

/* end content section */

@media (min-width : 716px) {

    .container {
        display: flex;
        flex-flow: row-reverse;
        height: 400px;
    }

    picture {
        height: 100%;
    }

    .content {
        width: 100%;
        padding: 40px;
    }

    .content .numbers {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .content .numbers div {
        font-size: 20px;
        line-height: 20px;
    }

    .content .numbers {
        margin-top: 50px;
    }

    .content .numbers div span {
        font-size: 13px;
    }

    .content h1 {
        text-align: start;
        width: 350px;
    }

    .content p {
        text-align: start;
        width: 350px;
    }
}

@media (min-width : 1000px) {

    .content {
        width: 100%;
        padding: 60px 150px 60px 60px;
    }

}